@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap");
:root {
  --typewriterSpeed: 4s;
}
.drinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  .containerData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header {
    a {
      text-decoration: none;
      font-size: 2rem;
      font-family: Roboto Mono;
      width: 12%;
      margin-right: 10rem;
      color: #d789d7;
      &:hover {
        color: #5d54a4;
      }
      img {
        width: 25px;
      }
    }
  }
  h1 {
    font-size: 3rem;
    padding: 1rem 0;
    color: #d789d7;
    font-family: Roboto Mono;
    margin-left: 13%;
    font-weight: 500;
    position: relative;
    display: inline-block;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &::before {
      background: #faf3f3;
      // steps run as number in params, and ease run continuous
      animation: typewriter var(--typewriterSpeed) steps(6) 500ms forwards; // with forwards the animation not return, only happen a time
    }
    &::after {
      width: 0.1em;
      height: 5rem;
      margin: auto 0;
      background: #faf3f3;
      animation: typewriter var(--typewriterSpeed) steps(6) 500ms forwards,
        blink 750ms steps(6) infinite;
    }
  }
}

@keyframes typewriter {
  //Only run Left - Right 100%
  to {
    left: 100%;
  }
}
@keyframes blink {
  //Only run Left - Right 100%
  to {
    background: transparent;
  }
}
