.container {
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
  .modalBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    button {
      width: 16%;
      padding: 0.4rem 1rem;
      font-size: 2rem;
      font-weight: bold;
      margin-left: 84%;
      background: transparent;
      border: none;
      cursor: pointer;
      color: #d789d7;
      &:hover {
        color: #f3f3f3;
      }
    }
    background: #5d54a4;
    width: 100%;
    max-width: 600px;
  }
  .information {
    display: flex;
    align-items: center;
    img {
      width: 200px;
      height: 250px;
    }
  }
}
