@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap");
:root {
  --clr-white: #f1f1f1;
  --typewriterSpeed: 4s;
}

.containerContato {
  background-color: #5d54a4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    padding: 1rem 0;
    color: #d789d7;
    font-family: Roboto Mono;
    font-weight: 500;
    position: relative;
    display: inline-block;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &::before {
      background: #5d54a4;
      // steps run as number in params, and ease run continuous
      animation: typewriter var(--typewriterSpeed) steps(9) 500ms forwards; // with forwards the animation not return, only happen a time
    }
    &::after {
      width: 0.1em;
      height: 5rem;
      margin: auto 0;
      background: #faf3f3;
      animation: typewriter var(--typewriterSpeed) steps(9) 500ms forwards,
        blink 750ms steps(9) infinite;
    }
  }

  .divContact {
    padding: 0.6rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 4%;
    img {
      align-self: center;
      width: 100%;
      border-radius: 6px;
      border: none;
    }

    .contactForm {
      display: flex;
      flex-direction: column;

      label {
        margin: 0.75rem 0;
        font-size: 1.25rem;
        color: var(--clr-white);
      }
      input {
        background: transparent;
        border: 0;
        border-bottom: 1.5px solid var(--clr-white);
        padding: 0 16rem;
      }
      :is(input, textarea) {
        color: var(--clr-white);
        font-size: 1.2rem;
        font-weight: 300;
        padding-left: 2%;
        font-family: Open Sans;
        font-weight: 300;
        outline: 0;
      }
      textarea {
        margin-bottom: 1rem;
        border-color: var(--clr-white);
        background: transparent;
      }
      button {
        width: 35%;
        margin-left: auto;
      }
    }
  }
}
@keyframes typewriter {
  //Only run Left - Right 100%
  to {
    left: 100%;
  }
}
@keyframes blink {
  //Only run Left - Right 100%
  to {
    background: transparent;
  }
}
@media screen and (max-width: 700px) {
  .containerContato {
    max-width: 100vh;
    .divContact {
      display: flex;
      justify-content: center;
      flex-direction: column;
      img {
        width: 50%;
      }
    }
  }
}
